{% extends "bootstrap/base.html" %}
{% block title %}
    {% if title %}
    {{ title }} - hostdb
    {% else %}
    Welcome to the hostdb
    {% endif %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-static-top" role='navigation'>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">hostdb</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li {% if title.startswith('Home') %} class="active"{% endif %}><a href="{{ url_for('index')    }}">hosts</a></li>
          {% if g.user.is_authenticated()%}
            <li {% if title.startswith('Add Host') %} class="active"{% endif %}><a href="{{ url_for('new_host') }}">add host</a></li>
          {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown{% if title in ['Login', 'Register'] %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
  {% if g.user.is_authenticated()%}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
  {% else %}
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
  {% endif %}
          </ul>
        </li>
      </ul>
  {% if g.user.is_authenticated()%}
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown{% if title|replace('Add ', '') in ['role', 'domain', 'stage'] %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('add_domain') }}">Add domain</a></li>
              <li><a href="{{ url_for('add_stage') }}">Add stage</a></li>
              <li><a href="{{ url_for('add_role') }}">Add role</a></li>
          </ul>
        </li>
      </ul>
  {% endif %}
    </div><!-- /.navbar-collapse -->
  </div>
</div>
{% endblock %}

{% block content %}
  <div class='container'>
    {% include 'messages.html' %}
    {% block container %}
    {% endblock %}
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript'>
    // focus the form
    $("input:text:visible:first").focus();
</script>
{% endblock %}
